* {
  box-sizing: border-box; }

.rotate {
  animation: rotate 0.5s linear; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

.nav ul {
  list-style: none;
  padding: 0; }
  .nav ul li {
    display: inline-block;
    margin-right: 8px; }
    .nav ul li a {
      text-decoration: none; }

.header {
  color: #000; }

.header {
  color: #FA987D; }
