

.nav li {
    float: left;
  }

  .list-control .form-control {
    border-radius: 0;
  }

  #listSearchSubmit {
    line-height: 30px;
    height: 44px;
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: .2px;
  }

  input[type="text"] {
    box-sizing: content-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 1.4rem;
    text-indent: 15px;
    color: #656565;
    background-color: #fff;
  }

  select {
    box-shadow: none;
    box-sizing: content-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 1.4rem;
    text-indent: 15px;
    color: #656565;
    background-color: #fff;
  }

  .btn-primary {
    text-transform: uppercase;
  }

  label {
    font-weight: 400;
  }

  label {
    /*font-size: 10.5px;*/
    font-size: 1.05rem;
    line-height: 12px;
    margin: 0;
    padding: 0;
  }

  .required label {
    margin-left: 9px;
  }

  .required label:before {
    content: "*";
    position: absolute;
    /*font-size: 12px;*/
    font-size: 1.2rem;
    left: 5px;
    top: 8px;
  }

  .help-block.has-error {
    display: block;
    margin: 5px 0;
    position: absolute;
    top: -25px;
    background-color: #ddd;
    font-size: 1.05rem;
    line-height: 18px;
  }

  .list-control .form-control.has-error {
    border: 1px solid #c62030;
    height: 42px;
  }

  button:focus,
  .input-text:focus,
  select:focus {
    outline: none;
  }

  .is-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .list-control--tags {
    display: none;
  }

  .list-control--filter-status {
    flex: 1;
    font-size: 1.2rem;
  }

  .list-control--toggle-map {
    flex: inherit;
    text-align: right;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .list-control--toggle-map i {
    font-size: 1.2em;
    margin-left: 5px;
    position: relative;
    top: 1px;
  }

  .list-control--toggle-map i.fa-list {
    font-size: 1.3em;
    top: 2px;
  }

  .list-control--toggle-map i:before {
    margin-top: 3px;
  }

  .map-toggle-text {
    margin-right: 3px;
  }

  .fa-map:before {
    content: "\f279";
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.5px;
  }

  .fa-list:before {
    content: "\f03a";
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.5px;
  }

  .list-control-search {
    display: flex;
    flex-direction: column;
  }

  .list-control-search:after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    background-color: #ddd;
    height: 61px;
    z-index: -1;
  }

  .list-control-search__header {
    margin: 0;
    position: relative;
    height: 20px;
    font-size: 1.2rem;
    margin-top: -7px;
    margin-bottom: 12px;
    margin-left: 5px;
    text-align: center;
  }

  .list-control-search--summary {
    display: inline-block;
    transition: all ease-out 0.15s;
    bottom: 0;
    margin: 0;
    padding: 0;
  }

  .list-control-search--summary-loading {
    left: inherit;
    position: relative;
    display: inline-block;
    top: 0;
    margin-right: 4px;
    font-size: 1.2rem;
    color: #6aa1c5;
  }

  .fa-refresh {
    -webkit-animation: fa-spin 1.2s infinite linear;
    animation: fa-spin 1.2s infinite linear;
  }

  .list-control-search--summary-detail {
    display: none;
  }

  .list-control-search-mobile__toggle {
    flex-basis: 100%;
    background-color: #ddd;
    display: block;
    width: calc(100% + 20px);
    margin: 0 -10px;
    padding: 18px 15px 18px 40px;
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
    cursor: pointer;
  }

  .list-control-search-mobile__toggle:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url('../../assets/img/icon-toggle-down-blk.png');
    background-position: center;
    background-size: 23px;
    background-repeat: no-repeat;
    display: block;
    top: 23px;
    left: 17px;
  }

  .list-control-search-mobile__toggle.show-search:before {
    background-image: url('../../assets/img/icon-toggle-up-blk.png');
  }

  .list-control-search--tags {
    display: none;
  }

  .tag-list--title {
    display: none;
  }

  .list-control-search__content {
    background-color: #ddd;
    margin: 0 -10px;
    padding: 10px 20px 0;
    display: none;
  }

  .input-group {
    display: block;
  }

  .list-control-search__input {
    margin: 0 auto 15px;
    flex: 0 0 100%;
  }

  .list-control-search__input:first-of-type {
    margin-left: 0;
  }

  .list-control input {
    font-size: 1.4rem;
  }

  .list-control select,
  .list-control input[type="text"] {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 1.4rem;
    text-indent: 15px;
    color: #656565;
    background-color: #fff;
  }

  .list-control {
    position: relative;
    margin-top: -5px;
  }

  .list-control select {
    border-radius: 5px;
    text-transform: initial;
  }

  .list-control-filter {
    display: block;
    background-color: #ddd;
    margin: 0 -10px;
    padding: 15px 20px 135px;
    display: none;
  }

  .list-control-filter__header {
    position: relative;
  }

  .list-control-filter__content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 5px;
    width: calc(100% - 10px);
    margin-top: 35px;
    margin-left: 0;
    padding-left: 0;
    transform: translateY(-2em);
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s, z-index 0s linear 0.01s;
  }

  .list-control-filter.show-filters .list-control-filter__content {
    visibility: visible;
    position: relative;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.15s;
  }

  .list-control-filter__content .check-list {
    flex: 1;
    margin-bottom: 0.5rem;
    opacity: 0;
  }

  .show-filters .list-control-filter__content .check-list {
    opacity: 1;
    transition: all 0.15s, ease-in 0.3s;
  }

  .list-control-filter__content .check-list--certifications {
    flex-basis: 100%;
  }

  .list-control-filter__content .check-list-item {
    margin: 1.4rem 0;
  }

  .list-control .checkbox-label {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .list-control .checkbox-container {
    margin-right: 0.3rem;
    margin-left: 0;
    height: 1.5rem;
    width: 1.5rem;
  }

  .list-control .checkbox__placeholder {
    height: 1.5rem;
    width: 1.5rem;
    top: 0.2rem;
  }

  .list-control input[type=checkbox]:checked~.checkbox__placeholder:before {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.1rem;
    margin-left: 0;
  }

  .toggle-filters {
    text-transform: uppercase;
    position: relative;
    overflow: visible;
    color: #fff;
    background-color: #6aa1c5;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    line-height: 2.0rem;
    height: 2.0rem;
    padding: 0 1.0rem 0 2.2rem;
    letter-spacing: 0.4px;
    cursor: pointer;
    width: 10.6rem;
    text-align: left;
  }

  .toggle-filters:before {
    content: "";
    position: absolute;
    width: 1.0rem;
    height: 1.0rem;
    background-image: url('../../assets/img/icon-toggle-down.png');
    background-position: center;
    background-size: 1.6rem;
    background-repeat: no-repeat;
    display: block;
    top: 0.5rem;
    left: 0.7rem;
  }

  .show-filters .toggle-filters:before {
    background-image: url('../../assets/img/icon-toggle-up.png');
  }

  /* .list-results {
    position: relative;
  } */

  /* .list-results__header {
    padding: 22px 15px;
  } */

  .club-list {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: visible;
    max-height: none;
  }

  .club-list-item {
    background-color: #fff;
    margin: 0 auto 15px;
    padding-bottom: 220px;
  }

  .list-control--toggle-map .fa-list {
    display: none;
  }

  /* .list-results__map {
    position: relative;
    left: 0;
    right: 0;
    display: none;
  } */

  /* .list-results__map .club-map {
    background-color: #ccc;
    width: 100%;
    height: 600px;
    text-align: center;
    padding-top: 290px;
    font-size: 2.1rem;
    font-weight: 600;
    color: #aaa;
  } */

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    html {
      font-size: 10px;
    }

    .page-header {
      height: 100px;
    }

    .page-header h1 {
      font-size: 3.4rem;
    }

    /* .breadcrumb__item {
      margin-right: 6px;
    }

    .breadcrumb__items {
      margin-left: 0;
    } */

    /* .breadcrumb__items,
    .breadcrumb__title {
      font-size: 1.2rem;
    } */

    .list-control {
      margin: 30px 0 20px 0;
    }

    .list-control-search--summary-loading {
      position: absolute;
      left: unset;
      top: 5px;
      right: 0;
    }

    .list-control-search__content {
      margin: 0;
      padding: 15px 35px 0;
      display: flex;
      margin: 0;
    }

    .list-control-search--summary {
      width: 35%;
      text-align: right;
      position: absolute;
      line-height: 15px;
      right: 0;
      bottom: 0;
    }

    .list-control-search__header {
      margin: 0 0 6px;
      text-align: left;
    }

    .list-control-search__input {
      margin-bottom: 15px;
      margin-left: 15px;
      flex: 1;
    }

    .list-control-search-mobile__toggle {
      display: none;
    }

    .list-control-search__input.list-control-search__input--button {
      position: relative;
      bottom: 0;
      flex-grow: initial;
      margin-top: 20px;
      align-self: flex-end;
    }

    .list-control-search--tags {
      display: block;
      width: 60%;
      position: absolute;
      left: 55px;
      bottom: -3px;
      line-height: 20px;
    }

}
.btn-small {
    font-size: 1.35rem !important;
    padding: .6rem 1.3rem;
    height: 3rem !important;
    line-height: 2rem !important;
    text-transform: none;
    border-radius: 4px;
}
/* .list-results {
    position: relative;
    padding-top: 2rem;
    margin-bottom: 5rem;
} */

.workout-list-item {
    min-height: 200px;
    position: relative;
    /* box-shadow: 0 0 15px rgba(0,0,0,.1); */
    padding: 2rem 1rem 2.3rem 2rem;
    margin: 0 .5rem 2rem .25rem;
    /* background-color: #fff; */
    border-bottom: 1px solid #CCC;
}
/* .workout:last-of-type {
    border: none;
} */
.workout__footer {
    clear: both;
}
.workout__detail .workout__header {
    /* font-style: italic; */
    position: relative;
    margin: 0rem auto 3rem;
    padding-bottom: 2.5rem;
    border-bottom: none;
}
.workout__title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin: 0 auto 0.5rem;
}
.workout__detail .workout__title {
    font-size: 2.1rem;
    line-height: 2.4rem;;
}
.workout__stats {
    margin: 0 auto 1.5rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
}
.workout__stats > * {
    display: block;
    margin: 0 1rem 0 0;
}
.workout_stats--date {
    font-weight: bold;
    margin: 0;
}
.workout_stats--date:after {
    content: "–";
    font-weight: normal;
    margin: 0 0.5rem 0  0.7rem;
}
.workout__stats:first-child {
    margin: 0;
}
.workout .view-details {
    margin: 0 auto 2.25rem;
}
.workout__summary {
    max-width: 800px;
    margin-top: 3rem;
}
.workout__detail {
    margin: 5rem auto;
}
.set {
    font-size: 1.35rem;
    line-height: 1.8rem;
    margin: 0 auto 2.5rem;
    padding-left: 2rem;
}
.set__header {
    margin: 0 0 1.25rem -2rem;
    padding: .3rem .2rem .3rem 1rem;
    background-color: aliceblue;
}
.set__title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    margin: 0 auto 0.2rem;
}
.set__distance {
    margin-left: 0.35rem;
}
.set__distance:after {
    content: none;
}
.set__description,
.set__distance {
    display: inline-block;
}
.set__description {
    font-style: italic;
    margin: -0.2rem auto 0;
}
.set__description:before {
    content: "–";
    margin: 0 0.75rem 0 0;
}
.set__distance {
    margin-left: 0;
}
.interval.repeat {
    line-height: 1.8rem;
    border-left: 1px solid #cccccc;
    margin-left: 2.9rem;
    padding-left: 0.8rem;
}
/* .workout__detail .interval {
    margin-left: 1.75rem;
    padding: 0.25rem .5rem 0.25rem 1.5rem;
} */
.length,
.group-repeat {
    margin-top: 3px;
}
.workout__detail .length {
    margin-top: 0.5rem;
}
/* .workout__detail .interval.repeat + .interval {
    margin-top: 1.25rem;
} */
.group-repeat {
    /* margin-bottom: -0.2rem; */
    margin-bottom: -1.8rem;
}
/* .workout__detail .group-repeat {
    font-size: 1.27rem;
    margin-bottom: 0.5rem;
} */
.length-repeat,
.distance,
.stroke,
.pace {
    display: inline-block !important;
}
.group-repeat:after {
    position: relative;
    /* content: "x – "; */
    content: "x";
    display: inline-block;
    margin-left: 5px;
    /* height: 20px; */
    width: auto;
}
/* .workout__detail .group-repeat:before {
    position: relative;
    content: "(Repeat";
    display: inline-block;
    margin-right: 5px;
    width: auto;    
} */
/* .workout__detail .group-repeat:after {
    position: relative;
    content: "x)";
    display: inline-block;
    margin-left: 0;
    width: auto;
} */
.length-repeat:after {
    position: relative;
    content: "x";
    display: inline-block;
    /* height: 20px; */
    width: auto;
    margin-left: 5px;
}
.pace:before {
    position: relative;
    content: "@";
    display: inline-block;
    /* height: 20px; */
    width: auto;
    margin-right: 5px;
}
.notes {
    font-style: italic;
}

.workout__detail .notes {
    font-size: 1.3rem;
    padding-bottom: 0.65rem;
    line-height: 1.65rem;
    margin: -0.15rem auto 0;
}

.workout__detail .workout__description {
    line-height: 2.1rem;
}
.workout__download-pdf {
    margin: 2rem 0 0;
    font-size: 1.4rem;
    text-decoration: underline;
}
.workout__download-pdf a {
    color: #666;
}
.workout__download-pdf .icon {
    /* position: absolute; */
    position: relative;
    top: 4px;
    /* left: -25px; */
    margin-right: 3px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../img/icon-printer.png");
    background-size: contain;
}
.workout-customizer {
    /* max-width: 230px; */
    /* margin: 5rem 0; */
    margin: 3rem 0;
    padding: 3rem 0 1rem;
    border-top: 1px solid #CCC;
}
.workout-glossary {
    margin: 3rem auto 4rem;
    padding: 3rem 0;
    border-top: 1px solid #CCC;
}
.workout-customizer h3,
.workout-glossary h3 {
    font-size: 2.0rem;
    color: #0070c0;
    margin-top: 0;
}
.workout-customizer p,
.workout-glossary p {
    line-height: 2.1rem;
    margin: 0 auto 2rem;
}
.show-mobile {
    display: block;
}
.hide-mobile {
    display: none;
}
.gutter {
    padding-right: 5px;
}
  /* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .show-mobile {
        display: none;
    }
    .hide-mobile {
        display: block;
    }
    .gutter {
        padding-right: 9rem;
    }        
    .page-header {
        height: 200px;
    }
    /* .list-results { */
    .workout-list {
        margin-bottom: 6rem;
        padding-top: 0;
    }
    .workout__download-pdf {
        position: absolute;
        font-size: 1.2rem;
        margin-top: 0;
        top: 0.3rem;
        right: 0;
    }
    .set {
        padding-left: 0;
    }
    .workout__list .set {
        margin-bottom: 2rem;
    }
    .workout__header {
        /* font-style: italic; */
        position: relative;
        margin: 0.5rem auto 4rem;
        padding-bottom: 0;
        border-bottom: none;
    }
    .workout__detail .workout__header {
        margin-bottom: 4rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid #CCC;
    }
    .workout__detail .workout__content {
        padding-left: 2rem;
    }    
    .set__header {
        margin: 0 0 0.5rem -2rem;
        padding: .1rem .2rem 0 0;
        background: none;
    }
    .set__title {
        display: inline-block;
        background-color: none;
    }
    .set__distance {
        background-color: none;
    }
    .set__distance:after {
        content: "–";
        margin: 0 0.25rem 0  0.75rem;
    }
    /* .workout__detail .interval {
        margin-left: 1.75rem;
    } */
    /* .workout__detail .interval.repeat + .interval {
        margin-top: 1.25rem;
    } */    
    .workout__detail .notes {
        display: inline-block;
    }
    .workout__detail .notes {
        font-size: 1.3rem;
        padding-bottom: 0.35rem;
        line-height: 1.65rem;
    }    
    .workout__detail .notes:before {
        content: "–";
        margin: 0 0.5rem 0 0;        
    }
    .workout__detail .set__description {
        display: inline-block;
        margin: 0 auto 0.2rem;
    }
    .workout__detail .set__description:before {
        content: none;
    }
    .workout-customizer {
        max-width: none;
        /* margin: 5rem 0; */
        border: none;
        /* margin: 3rem 0; */
        /* padding: 3rem 0 1rem; */
        /* border-top: 1px solid #CCC; */
    }
    .workout__detail .set {
        margin-bottom: 2.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .workout__stats > * {
        display: inline-block;
        margin: 0 1rem 0 0;
    }
}

@media only print {
    .workout__detail {
        margin-top: -3rem;
    }
    .workout__detail .workout__header {
        margin-bottom: 1rem;
        /* padding-bottom: 0; */
    }
    .workout__detail .workout__stats {
        margin-bottom: 0.5rem;
    }
    .workout__detail .set {
        /* margin-bottom: 1.5rem; */
        margin-bottom: 2.5rem;
    }
    .workout__detail .set__header {
        margin-bottom: 0;
    }
    .set__description, 
    .set__distance,
    .set__title {
        display: inline-block;
    }
    .breadcrumb__container,
    .workout__download-pdf,
    .workout-glossary,
    .workout-customizer,
    .workout-customizer + img,
    .article-author,
    #footerOverlay {
        display: none;
    }    
    .workout__detail .notes {
        display: inline-block;
    }
    .workout__stats > * {
        display: inline-block;
        margin: 0 1rem 0 0;
    }
    a.mega-main-menu__logo::after{
        content: "";
    }
}