

  .nav li {
    float: left;
  }

  .list-control .form-control {
    border-radius: 0;
  }

  .btn {
    line-height: 30px;
    height: 44px;
    /*font-size: 13px;*/
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: .2px;
  }

  input[type="text"] {
    box-sizing: content-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 1.4rem;
    text-indent: 15px;
    color: #656565;
    background-color: #fff;
  }

  select {
    box-shadow: none;
    box-sizing: content-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 1.4rem;
    text-indent: 15px;
    color: #656565;
    background-color: #fff;
  }

  .btn-primary {
    text-transform: uppercase;
  }

  label {
    font-weight: 400;
  }

  label + .icon-help:after,
  label .icon-help:after {
    content: "";
    background-image: url('../../assets/img/icon-help.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    top: 1px;
    left: 2px;
    cursor: pointer;
  }
  .input-group .icon-help,
  .input-group .checkbox-container + .icon-help {
    margin-right: .3rem !important;
  }

  label {
    /*font-size: 10.5px;*/
    font-size: 1.05rem;
    line-height: 12px;
    margin: 0;
    padding: 0;
  }

  .required label {
    margin-left: 9px;
  }

  .required label:before {
    content: "*";
    position: absolute;
    /*font-size: 12px;*/
    font-size: 1.2rem;
    left: 5px;
    top: 8px;
  }

  .help-block.has-error {
    display: block;
    margin: 5px 0;
    position: absolute;
    top: -25px;
    background-color: #ddd;
    /*font-size: 10.5px;*/
    font-size: 1.05rem;
    line-height: 18px;
  }

  .list-control .form-control.has-error {
    border: 1px solid #c62030;
    height: 42px;
  }

  button:focus,
  .input-text:focus,
  select:focus {
    outline: none;
  }

  .is-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .list-control--tags {
    display: none;
  }

  .list-control--filter-status {
    flex: 1;
    /*font-size: 12px;*/
    font-size: 1.2rem;
  }

  .list-control--toggle-map {
    flex: inherit;
    text-align: right;
    cursor: pointer;
    /*font-size: 12px;*/
    font-size: 1.2rem;
  }

  .list-control--toggle-map i {
    font-size: 1.2em;
    margin-left: 5px;
    position: relative;
    top: 1px;
  }

  .list-control--toggle-map i.fa-list {
    font-size: 1.3em;
    top: 2px;
  }

  .list-control--toggle-map i:before {
    margin-top: 3px;
  }

  .map-toggle-text {
    margin-right: 3px;
  }

  .fa-map:before {
    content: "\f279";
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.5px;
    /*color: #FFF;*/
  }

  .fa-list:before {
    content: "\f03a";
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.5px;
  }

  .list-control-search {
    display: flex;
    flex-direction: column;
  }

  .list-control-search:after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    background-color: #ddd;
    height: 61px;
    z-index: -1;
  }

  .list-control-search__header {
    margin: 0;
    position: relative;
    height: 20px;
    /*font-size: 12px;*/
    font-size: 1.2rem;
    margin-top: -7px;
    margin-bottom: 12px;
    margin-left: 5px;
    text-align: center;
  }

  .list-control-search--summary {
    display: inline-block;
    transition: all ease-out 0.15s;
    bottom: 0;
    margin: 0;
    padding: 0;
  }

  .list-control-search--summary-loading {
    left: inherit;
    position: relative;
    display: inline-block;
    top: 0;
    margin-right: 4px;
    /*font-size:1.2em;*/
    font-size: 1.2rem;
    color: #6aa1c5;
  }

  .fa-refresh {
    -webkit-animation: fa-spin 1.2s infinite linear;
    animation: fa-spin 1.2s infinite linear;
  }

  .list-control-search--summary-detail {
    display: none;
  }

  .list-control-search-mobile__toggle {
    flex-basis: 100%;
    background-color: #ddd;
    display: block;
    width: calc(100% + 20px);
    margin: 0 -10px;
    padding: 18px 15px 18px 40px;
    /*font-size: 16px;*/
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
    cursor: pointer;
  }

  .list-control-search-mobile__toggle:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url('../../assets/img/icon-toggle-down-blk.png');
    background-position: center;
    background-size: 23px;
    background-repeat: no-repeat;
    display: block;
    top: 23px;
    left: 17px;
  }

  .list-control-search-mobile__toggle.show-search:before {
    background-image: url('../../assets/img/icon-toggle-up-blk.png');
  }

  .list-control-search--tags {
    display: none;
  }

  .tag-list--title {
    display: none;
  }

  .list-control-search__content {
    background-color: #ddd;
    margin: 0 -10px;
    padding: 10px 20px 0;
    display: none;
  }

  .input-group {
    display: block;
  }

  .list-control-search__input {
    margin: 0 auto 15px;
    flex: 0 0 100%;
  }

  .list-control-search__input:first-of-type {
    margin-left: 0;
  }

  .list-control-search__input--button {
    flex: none;
    position: absolute;
    bottom: 3.0rem;
  }

  .list-control input {
    /*font-size: 14px;*/
    font-size: 1.4rem;
  }

  .list-control select,
  .list-control input[type="text"] {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    /*font-size: 14px;*/
    font-size: 1.4rem;
    text-indent: 15px;
    color: #656565;
    background-color: #fff;
  }

  .list-control {
    position: relative;
    margin-top: -5px;
  }

  .list-control select {
    border-radius: 5px;
    text-transform: initial;
  }

  .list-control-filter {
    display: block;
    background-color: #ddd;
    margin: 0 -10px;
    padding: 15px 20px 135px;
    display: none;
  }

  .list-control-filter__header {
    position: relative;
  }

  .list-control-filter__content {
    visibility: hidden;
    opacity: 0;
    position: absolute; /* Absolute when close */
    top: 100%;
    left: 5px;
    width: calc(100% - 10px);
    margin-top: 35px;
    margin-left: 0;
    padding-left: 0;
    transform: translateY(-2em);
    /*z-index: -1;*/
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s, z-index 0s linear 0.01s;
  }

  .list-control-filter.show-filters .list-control-filter__content {
    visibility: visible;
    position: relative; /* Relative when open */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.15s; /* this removes the transition delay so the menu will be visible while the other styles transition */
  }

  .list-control-filter__content .check-list {
    flex: 1;
    margin-bottom: 0.5rem;
    opacity: 0;
  }

  .show-filters .list-control-filter__content .check-list {
    opacity: 1;
    transition: all 0.15s, ease-in 0.3s;
  }

  .list-control-filter__content .check-list--certifications {
    flex-basis: 100%;
  }

  .list-control-filter__content .check-list-item {
    margin: 1.4rem 0;
  }

  .list-control .checkbox-label {
    /*font-size: 13px;*/
    font-size: 1.3rem;
    line-height: 1.5rem;
    /*margin-bottom: 1.2rem*/
  }

  .list-control .checkbox-container {
    margin-right: 0.3rem;
    margin-left: 0;
    height: 1.5rem;
    width: 1.5rem;
  }

  .list-control .checkbox__placeholder {
    height: 1.5rem;
    width: 1.5rem;
    top: 0.2rem;
  }

  .list-control input[type=checkbox]:checked~.checkbox__placeholder:before {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.1rem;
    margin-left: 0;
  }

  .toggle-filters {
    text-transform: uppercase;
    position: relative;
    overflow: visible;
    color: #fff;
    background-color: #6aa1c5;
    border: none;
    border-radius: 4px;
    /*font-size: 9px;*/
    font-size: 0.9rem;
    line-height: 2.0rem;
    height: 2.0rem;
    padding: 0 1.0rem 0 2.2rem;
    letter-spacing: 0.4px;
    cursor: pointer;
    width: 10.6rem;
    text-align: left;
  }

  .toggle-filters:before {
    content: "";
    position: absolute;
    width: 1.0rem;
    height: 1.0rem;
    background-image: url('../../assets/img/icon-toggle-down.png');
    background-position: center;
    background-size: 1.6rem;
    background-repeat: no-repeat;
    display: block;
    top: 0.5rem;
    left: 0.7rem;
  }

  .show-filters .toggle-filters:before {
    background-image: url('../../assets/img/icon-toggle-up.png');
  }

  .list-results {
    position: relative;
  }

  .list-results__header {
    padding: 22px 15px;
  }

  .club-list {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: visible;
    max-height: none;
  }

  .club-list-item {
    background-color: #fff;
    margin: 0 auto 15px;
    padding-bottom: 220px;
  }

  .list-control--toggle-map .fa-list {
    display: none;
  }

  .list-results__map {
    position: relative;
    left: 0;
    right: 0;
    display: none;
  }

  .list-results__map .club-map {
    background-color: #ccc;
    width: 100%;
    height: 600px;
    text-align: center;
    padding-top: 290px;
    /*font-size: 21px;*/
    font-size: 2.1rem;
    font-weight: 600;
    color: #aaa;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    html {
      font-size: 10px;
    }

    .site-header .usms-container {
      width: 1025px;
      padding: 15px 0;
    }

    .page-header {
      height: 100px;
    }

    .page-header h1 {
      font-size: 3.4rem;
    }

    .breadcrumb__item {
      margin-right: 6px;
    }

    .breadcrumb__items {
      margin-left: 0;
    }

    .breadcrumb__items,
    .breadcrumb__title {
      /*font-size: 12px;*/
      font-size: 1.2rem;
    }

    .list-control {
      margin: 30px 0 20px 0;
    }

    .list-control-search--summary-loading {
      position: absolute;
      left: unset;
      top: 5px;
      right: 0;
    }

    .list-control-search--filter-status {
      display: none;
    }

    .list-control-search__content {
      margin: 0;
      padding: 15px 35px 0;
      display: flex;
      margin: 0;
    }

    .list-control-search--summary {
      width: 35%;
      text-align: right;
      position: absolute;
      line-height: 15px;
      right: 0;
      bottom: 0;
    }

    .list-control-search--summary-detail {
      display: inline-block;
    }

    .list-control-search__header {
      margin: 0 0 6px;
      text-align: left;
    }

    .list-control-search__input {
      margin-bottom: 15px;
      margin-left: 15px;
      flex: 1;
    }

    .list-control-search-mobile__toggle {
      display: none;
    }

    .list-control-search__input.list-control-search__input--button {
      position: relative;
      bottom: 0;
      flex-grow: initial;
      margin-top: 20px;
      align-self: flex-end;
    }

    .list-control-filter__content .check-list {
      /*flex-basis: 25%;*/
    }

    .list-control-filter__content .check-list--certifications,
    .list-control-filter__content .list-control-filter__content {
      flex-basis: 30%;
    }

    .list-control-filter__content .check-list--facility-type {
      flex-basis: 20%;
    }

    .list-control-search--tags {
      display: block;
      width: 60%;
      position: absolute;
      left: 55px;
      bottom: -3px;
      line-height: 20px;
    }

    .tag-list--title {
      font-weight: 600;
      display: inline-block;
    }

    .tag-list--item {
      margin: 0 13px;
      padding: 0;
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .tag-list--item:before {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      background-image: url('../../assets/img/icon-nav-close.png');
      background-position: center;
      background-size: 18px;
      background-repeat: no-repeat;
      display: block;
      top: 5px;
      left: -13px;
    }

    .list-control-filter {
      display: block;
      margin: 0 auto;
      padding: 0 35px 23px;
    }

    .list-control-filter .list-control-filter__content {
      position: absolute;
      margin: 0;
      padding: 0 25% 30px 35px;
      width: 100%;
      left: 0;
    }

    .list-control-filter.show-filters .list-control-filter__content {
      position: absolute;
      background-color: #ddd;
    }

    .list-control-filter__content .check-list-item {
      margin: 0.5rem 0;
    }

    .list-control-filter__content .check-list {
      margin-bottom: 0;
    }

    .list-control--filter-status {
      display: none;
    }

    .list-control--toggle-map {
      display: none;
    }

    .list-results__header {
      padding: 10px;
    }

    .club-list {
      margin-left: -20px;
      padding-left: 20px;
      padding-right: 10px;
      overflow-y: scroll;
      max-height: 600px;
    }

    .club-list-item {
      padding-bottom: 160px;
    }

    .list-results__map {
      display: block;
    }
  }
