

.button.play {
    box-sizing: border-box;
    width: 74px;
    height: 74px;
    border-width: 37px 0px 37px 74px;
    border-color: transparent transparent transparent #FFF;
  }



  .playme:after {
    content: "";
    position: absolute;
    top: 102px;
    left: 138px;
    border: 17px solid #FFF;
    width: 34px;
    height: 34px;
    padding: 0;
    border-color: transparent transparent transparent #FFF;
    border-width: 17px 0px 17px 30px;
    margin: 0;
}


@media print {
    .mega-main-menu__logo img,img {
        text-indent: -9999px
    }

    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }

    .visible-xs {
        display: none!important
    }

    .hidden-xs {
        display: block!important
    }

    table.hidden-xs {
        display: table
    }

    tr.hidden-xs {
        display: table-row!important
    }

    td.hidden-xs,th.hidden-xs {
        display: table-cell!important
    }

    .hidden-sm,.hidden-xs.hidden-print {
        display: none!important
    }

    .visible-sm {
        display: block!important
    }

    table.visible-sm {
        display: table
    }

    tr.visible-sm {
        display: table-row!important
    }

    td.visible-sm,th.visible-sm {
        display: table-cell!important
    }

    .breadcrumb-container,.footer-left,.footer-right .subscribe,.footer-right nav,.mega-main-menu__nav-search-container,.mega-main-menu__toggle-mobile,.sign-up {
        display: none!important
    }

    .footer-right {
        width: 100%;
        text-align: center;
        color: #000;
        background-color: #FFF;
        opacity: 1;
        padding: 10px 0;
        margin: 0 auto
    }

    .hero-image .hero--mobile,.hero-image.hero--desktop {
        display: none!important;
        background: 0 0
    }

    .page-header {
        height: 80px
    }

    .filter-form,.filter-form.filter-form--results,.results-list__item-image-container,h3.filter-form-title {
        height: 0;
        display: none!important
    }

    .results-list__item-detail {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        display: block;
        height: auto
    }

    .results-list__item-title a:after,.usms-container a:after,a.mega-main-menu__logo:after {
        content: ""
    }

    .results-list__item-footer a {
        height: 0;
        width: 0;
        padding: 0;
        color: transparent
    }

    .results-list__item-footer a:after {
        content: "www.usms.org" attr(href) "";
        font-size: 12px;
        font-weight: 400;
        color: #000;
        text-transform: capitalize
    }

    .results-list__item-footer a strong {
        color: #333;
        font-size: 8px;
        margin-right: 10px
    }

    .results-list__item-type {
        font-size: 14px
    }

    .html-container p {
        page-break-inside: auto
    }

    .author {
        margin-left: -600px
    }

    h1.page-title {
        margin-top: 0
    }

    h1.page-title+h3.page-title {
        margin-top: 5px
    }

    .ad__space,.article-author,.author__image-container,.categories,.hero-image__container--desktop,.hero-image__container--mobile,.related-content,.social-share,.tags {
        height: 0;
        display: none!important
    }

    .results-list__item-image {
        display: none
    }

    .button-link__container.button-link--center,.club-map-container,.contact-form__container form,form {
        display: none!important
    }

    .club-list {
        max-height: none;
        overflow: visible
    }

    .club-list-item__badges-container img {
        width: 60px!important;
        height: auto;
        flex: none;
        max-width: 80px
    }

    .cta {
        height: auto
    }

    .cta__image,.tint-placeholder {
        height: 0;
        margin: 0;
        padding: 0;
        display: none!important
    }

    .cta__title {
        font-size: 18px;
        text-align: left;
        color: #000;
        margin-bottom: 0;
        break-before: auto
    }

    .accordion__content,.faq__container .accordion__content {
        height: auto!important;
        margin-bottom: 35px
    }

    .sponsors__list-container .sponsors__list-item-image {
        margin: 0
    }
}