  .workout-search .results-list__pagination-container {
    margin: 4rem auto 6rem;
    padding-top: 6rem;
    border-top: 1px solid #CCC;
  }   
  
  .btn-workout-subscribe {
    background-color: #d2202e;
    color: #FFF;
  }
  .btn-workout-unsubscribe {
    background-color: green;
    color: #FFF;
  }
  .workout__subscription {
    text-align: center;
    padding: 4rem 2rem;
    border-top: 1px solid #CCC;
  }
  .workout__subscription p {
    font-size: 1.4rem;;
    line-height: 2rem;
    margin-bottom: 0;
    padding: 1.5rem 0 1rem;
  }
  .workout__subscription a {
    display: block;
    text-decoration: underline;
    text-align: center;
    padding: 0.5rem 0 0;
  }
  .workout__subscription a:hover {
    color: #0068ad;
    text-decoration: underline;
  }
  
  .workout-list {
    margin: 3rem auto 6rem;
  }
  
  .workout-list-item {
    position: relative;
    padding: 3rem 1rem 1rem;
    margin: 0 0 1rem;
    border-top: 1px solid #CCC;
  }
  
  .workout-list-item:first-of-type {
    border: 0 none;
    padding-top: 1rem;
  }
  
  .set {
    padding-left: 0;
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .workout-list {
        margin: 0 auto;
        padding-top: 0;
    }
    .workout-list-item {
        margin: 0 2rem 4rem 0;
        padding: 4rem 0 0rem;
    }
    .set {
        margin-bottom: 2rem;
    }
    .workout__footer {
        clear: both;
    }
    .workout__subscription {
        text-align: left;
        padding: 2rem 0;
        border: 0 none;
    }
    .workout__subscription a {
        text-align: left;
    }
    .workout-search .results-list__pagination-container {
        margin-bottom: 8rem;
    }
  }
  