


/* ///////////////////////////////////////// */
/* This can all be scoped to '.workout-list' */
/* ///////////////////////////////////////// */





/* Position Filter Submit Button for Workout Finder differently than Club Finder — Should it be in Filters SASS File or Here ? */
.list-control-search__input--button {
    flex: none;
    position: relative;
    bottom: 0;
    margin: 1.0rem 0 3.5rem;
}





/* Small Devices, Tablets */
 @media only screen and (min-width: 768px) {
    .workout-list {
        margin-bottom: 6rem;
        padding-top: 0;
    }
    .workout-list-item {
        position: relative;
        padding: 2rem 1rem 2.3rem 2rem;
        margin: 0 .5rem 2rem .25rem;
        border-bottom: 1px solid #CCC;
    }
    .set {
        margin-bottom: 2rem;
    }
    .workout__footer {
        clear: both;
    }
}